body,
html {
  margin: 0;
  padding: 0;
  background-color: whitesmoke
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'source-sans-pro', sans-serif;
}

.top-section-wrapper {
  overflow: hidden;
  background-color: #001D37;
  padding-left: 16px;
  padding-right: 16px;
}

.top-section {

  color: rgb(244, 242, 244);
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 1066px;
  margin: 0 auto;
  position: relative;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.top-section h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 97.3%;
  font-weight: 600;
  max-width: 540px;
}


.intro-text {
  font-size: 1.25rem;
  line-height: 160%;
  margin: 1rem;
  color: #f3f4f5;
  max-width: 27.1875rem;
}

.intro-bottons {
  margin-bottom: 70px;
}

.Our-btn {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #475AFF;
  border: 2px solid #475AFF;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 71px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.Our-btn:hover {
  background-color: #3748d8;
  border-color: #3748d8;
}

.Our-btn--outline {
  background-color: transparent;
  border: 2px solid #f3f4f5;
  color: #f3f4f5;
}

.Our-btn--outline:hover {
  background-color: #f3f4f5;
  color: #475AFF;
  border-color: #f3f4f5;
}

.utlity-mr {
  margin-right: 10px;
}

.intro-feature {
  padding: 33px 25px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.intro-feature p {
  margin: 0;
  color: #FFF;
  font-size: 1.0625rem;
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 3px;
}

.intro-features {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (min-width: 580px) {
  .intro-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

}

@media screen and (min-width: 900px) {
  .intro-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

.circle {
  width: 617px;
  height: 617px;
  border-radius: 50%;
  background: #D660FF;
  opacity: .85;
  filter: blur(150px);
  position: absolute;
  top: 62px;
  right: -390px;
}

.circle-two {
  width: 617px;
  height: 617px;
  border-radius: 50%;
  background: #6079FF;
  opacity: .85;
  filter: blur(150px);
  position: absolute;
  top: -365px;
  left: -123px;
}

.page-section {
  background-color: white;
  padding: 65px 16px;
}

.page-section-inner {
  max-width: 1066px;
  margin: 0 auto;
}

.page-section-title {
  color: #000;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;

}

.pet-filter {
  color: #9F9F9F;
  font-size: 1.15rem;
}

.pet-filter button {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  color: #9F9F9F;
  margin-right: 24px;
}

.site-footer {
  color: #A6A6A6;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.3%;
}

.list-of-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 34px;
  row-gap: 16px;
}

.pet-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 120px 1fr;
  border-radius: 20px;
  border: 1px solid #F3F3F3;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.08);
}

.pet-card-photo {
  order: 1;
  grid-row: 1;
}

.pet-card-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-card-text {
  padding: 18px 16px;
}

.pet-card-text h3 {
  margin: 0 0 5px 0;
  color: #000;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 97.3%;

}

.pet-description {
  margin: 0;
  color: #626262;
  font-size: .9rem;
  font-style: normal;
  font-weight: 400;
}

.pet-age {
  color: #A2A2A2;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (min-width: 600px) {
  .pet-description {
    font-size: 1rem;
  }

  .top-section h1 {
    font-size: 6.25rem;
  }

  .top-section {
    padding-top: 139px;
    padding-bottom: 139px;
  }

  .intro-bottons {
    margin-bottom: 129px;
  }

  .page-section {
    padding: 130px 16px;
  }

  .page-section-title {
    color: #000;
    font-size: 5.3125rem;
    font-weight: 700;
  }

  .pet-filter {
    color: #9F9F9F;
    font-size: 1.375rem;
  }

  .pet-filter button {
    background-color: transparent;
    border: none;
    font-size: 1.375rem;
    color: #9F9F9F;
    margin-right: 24px;
    font-family: 'source-sans-pro', sans-serif;
  }

  .list-of-pets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    row-gap: 28px;
  }

  .pet-card-text {
    padding: 21px 29px;
  }

}